

<% if !@games.nil? %>

<div class="game_list_wrapper col-xs-8 col-xs-offset-2">
  <h1 class="text-center" id="gi_title">Find a game</h1>
  <p class="text-center" id="gi_subtitle">Find a fun game to play and have fun with other people around the globe.</p>
  
  <ul class="game_list">
    <% @games.each do |game| %>
    <li class="game_li col-xs-12">
      <div class="game_info col-xs-10">
        <p class="game_num">Game #<%= game.id %></p>
        <p class="game_name"><%= game.name%> hosted by
          <% if game.black_player_id != nil && game.white_player_id != nil %>
          <%= game.white_player_id == 0 ?
            Player.where(id: game.black_player_id).take.email : 
            Player.where(id: game.white_player_id).take.email %>
          <% end %>
        </p>
      </div>
      <%= link_to 'Join', add_player_game_path(game.id), class: "join_game col-xs-2 btn btn-primary", method: :patch %>
    </li>
    <% end %>
  </ul>
  <%= link_to 'Create New Game', new_game_path, class: "btn btn-primary col-xs-12" %>
</div>

<% else %>
<h1>Sorry. There are no games available at this time. </h1>
<%= link_to 'New Game', new_game_path %>
<br/>
<% end %>
