<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>

<% if @game.white_draw && @game.black_draw %>
<p class="alert alert-danger text-center">This game ended in a draw.</p>
<% elsif @game.white_forfeit || @game.black_forfeit %>
<p class="alert alert-danger text-center">This game ended in a forfeit.</p>
<% end %>

<p class="text-center">You are the <%= @color %> player.</p>

<!-- Message from Pusher -->
<p id="message" class="alert alert-warning text-center"></p>

<!-- Button Selection For Pusher -->
<!-- Default is the button to Request Draw -->
<div class="button-panel">
  <button class="request-draw" data-update-url="<%= game_path(@game) %>" data-color="<%= @color %>" data-game-id="<%= @game.id %>">Request Draw</button>
  &nbsp;
  <button class="accept-draw" data-update-url="<%= game_path(@game) %>" data-color="<%= @color %>" data-game-id="<%= @game.id %>">Accept Draw</button>
  &nbsp;
  <button class="reject-draw" data-update-url="<%= game_path(@game) %>" data-color="<%= @color %>" data-game-id="<%= @game.id %>">Reject Draw</button>
  &nbsp;
  <button class="forfeit" data-update-url="<%= game_path(@game) %>" data-color="<%= @color %>" data-game-id="<%= @game.id %>">Forfeit</button>
</div>

<h1>Captured Pieces:
  <% @game.pieces.where(captured: true).each do |piece| %>
  <%= piece.unicode_symbol.html_safe %>
  <% end %>
</h1>

<div class="current_turn">
  <%if @game.current_turn % 2 == 0 %>
  <h2>White Player's Turn</h2>
  <% else %>
  <h2>Black Player's Turn</h2>
  <% end %>
</div>
<div class="game-wrapper" data-current-turn="<%= @game.current_turn %>" data-player="<%= get_player %>">
  <div class="white-player">White Player's Time Left:<div id="white-player-timer"><%= render partial: 'layouts/whitetimer',locals: {:white_player_timer => @white_player_timer} %></div></div>
  <div class="chessboard">
    <% (0..7).each do |row| %>
    <div id="row">
      <% (0..7).each do |column| %>
      <div data-column="<%= column %>" data-row="<%= row %>"class="<%= square_color(row, column) %> tile">
        <% @pieces.each do |piece| %>
        <% if piece.x_position == column && piece.y_position == row %>
        <% if piece.player_id == @game.white_player_id %>
        <div class="piece white-piece" data-update-url="<%=game_piece_path(piece.game, piece) %>">
          <% else %>
          <div class="piece black-piece" data-update-url="<%=game_piece_path(piece.game, piece) %>">
            <% end %>
            <%= piece.unicode_symbol.html_safe %>
          </div>
          <% end %>
          <% end %>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <<<<<<< HEAD
    <<<<<<< HEAD
    <div class="black-player">Black Player's Time Left:<div id="black-player-timer"><%= render partial: 'layouts/blacktimer', locals: {:black_player_timer => @black_player_timer}%></div></div>
    =======
    
    
    <% end %>
    >>>>>>> 5b4401eed942abec942794e5bde2730396347b26
    =======
    <div class="black-player">Black Player's Time Left:<div id="black-player-timer"><%= render partial: 'layouts/blacktimer', locals: {:black_player_timer => @black_player_timer}%></div></div>
    >>>>>>> d064e6cce1446622336fa0104f5dbe96b14f5dda
  </div>
  