<div class="games--background">

  <p id="notice"><%= notice %></p>

  <% if @game.white_draw && @game.black_draw %>
      <p class="alert alert-danger text-center">This game ended in a draw.</p>
    <% elsif @game.white_forfeit || @game.black_forfeit %>
      <p class="alert alert-danger text-center">This game ended in a forfeit.</p>
  <% end %>

  <div class="board--columns">

    <div class="board--columns__left">

        <h2 class="board--header">White Player</h2>

        <h2 class="board--header">Black Player</h2>

    <!-- Message from Pusher -->
      <p id="message" class="alert alert-warning text-center"></p>

    <!-- Button Selection For Pusher - Default is to Request Draw -->

        <div class="button-panel">
          <button class="games--button request-draw" data-update-url="<%= game_path(@game) %>" data-color="<%= @color %>" data-game-id="<%= @game.id %>">Request Draw</button>
          &nbsp;
          <button class="accept-draw" data-update-url="<%= game_path(@game) %>" data-color="<%= @color %>" data-game-id="<%= @game.id %>">Accept Draw</button>
          &nbsp;
          <button class="reject-draw" data-update-url="<%= game_path(@game) %>" data-color="<%= @color %>" data-game-id="<%= @game.id %>">Reject Draw</button>
          &nbsp;
          <button class="forfeit" data-update-url="<%= game_path(@game) %>" data-color="<%= @color %>" data-game-id="<%= @game.id %>">Forfeit</button>
        </div>

        <div class="board--captured-pieces">
          <h2 class="board--header">Captured Pieces:</h2>
          <% @game.pieces.where(captured: true).each do |piece| %>
            <%= piece.unicode_symbol.html_safe %>
          <% end %>
        </div>

      </div>

    <div class="board--columns__right">

      <div class="chessboard">
        <% (0..7).each do |row| %>
          <div id="row">
            <% (0..7).each do |column| %>
              <div data-column="<%= column %>" data-row="<%= row %>" class="<%= square_color(row, column) %> tile">
                <% @pieces.each do |piece| %>
                  <% if piece.x_position == column && piece.y_position == row %>
                    <div class="piece" data-piece-id="<%=piece.id%>" data-update-url="<%=game_piece_path(piece.game, piece) %>">
                      <%= piece.unicode_symbol.html_safe %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>

    </div>

  </div>
