<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
<h1>Captured Pieces:
  <% @game.pieces.where(captured: true).each do |piece| %>
  <%= piece.unicode_symbol.html_safe %>
  <% end %>
</h1>

<div class="chessboard">
  <% (0..7).each do |row| %>
  <div id="row">
    <% (0..7).each do |column| %>
    <div data-column="<%= column %>" data-row="<%= row %>" class="<%= square_color(row, column) %> tile">
      <% @pieces.each do |piece| %>
      <% if piece.x_position == column && piece.y_position == row %>
      <div class="piece" data-piece-id="<%=piece.id%>" data-update-url="<%=game_piece_path(piece.game, piece) %>">
        <%= piece.unicode_symbol.html_safe %>
      </div>
      <% end %>
      <% end %>
    </div>


    <% end %>
  </div>
  <% end %>
</div>

<% if !@game.white_draw && !@game.black_draw %>

<button class="request-draw" data-update-url="<%= game_path(@game) %>" data-color="<%= @color %>">Request Draw</button>

<% elsif (@color == :white && @game.black_draw) || (@color == :black && @game.white_draw) %>

<button class="accept-draw" data-update-url="<%= game_path(@game) %>" data-color="<%= @color %>">Accept Draw</button><br/>
<button class="reject-draw" data-update-url="<%= game_path(@game) %>" data-color="<%= @color %>">Reject Draw</button>

<% elsif (@color == :white && @game.white_draw) || 
(@color == :black && @game.black_draw) %>

<button class="forfeit" data-update-url="<%= game_path(@game) %>" data-color="<%= @color %>">Forfeit</button>

<% end %>
