<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>

    <div class="chessboard">
      <% (0..7).each do |row| %>
        <div id="row">
          <% (0..7).each do |column| %>
            <div class="<%= square_color(row, column) %>">
              <% @pieces.each do |piece| %>
              <% if piece.x_position == column && piece.y_position == row %>
                <div class="piece" data-piece-id="<%piece.id%>">
                <%= piece.unicode_symbol.html_safe %>
                </div>
              <% end %>  
              <% end %>  
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
