<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>

    <div class="chessboard">
      <% (0..7).each do |row| %>
        <div id="row">
          <% (0..7).each do |column| %>
            <div data-column="<%= column %>" data-row="<%= row %>"class="<%= square_color(row, column) %>">
              <% @pieces.each do |piece| %>
              <% if piece.x_position == column && piece.y_position == row %>
                <div class="piece" data-piece-id="<%piece.id%>">
                <%= piece.unicode_symbol.html_safe %>
                </div>
              <% end %>  
              <% end %>  
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

<% if !@game.white_draw && !@game.black_draw %>

<button class="request-draw" data-update-url="<%= game_draw_path(game_id: @game) %>">Request Draw</button>

<% elsif (@color == :white && @game.black_draw) || (@color == :black && @game.white_draw) %>

<button class="request-draw" data-update-url="<%= game_draw_path(game_id: @game) %>">Accept Draw</button><br/>
<button class="reject-draw" data-update-url="<%= game_reject_draw_path(game_id: @game) %>">Reject Draw</button>

<% elsif (@color == :white && @game.white_draw && @game.black_draw == false) || 
(@color == :black && @game.black_draw && @game.white_draw == false) %>

<button class="forfeit" data-update-url="<%= forfeit_path(game_id: @game) %>">Forfeit</button>

<% end %>

