<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
<div class="current_turn">
  <%if @game.current_turn % 2 == 0 %>
  <h2>White Player's Turn</h2>
  <% else %>
  <h2>Black Player's Turn</h2>
  <% end %>
</div>
<div class="game-wrapper" data-current-turn="<%= @game.current_turn %>" data-player="<%= get_player %>">
  <div class="white-player">White Player's Time Left:<div id="white-player-timer"><%= render partial: 'layouts/whitetimer',locals: {:white_player_timer => @white_player_timer} %></div></div>
  <div class="chessboard">
    <% (0..7).each do |row| %>
    <div id="row">
      <% (0..7).each do |column| %>
      <div data-column="<%= column %>" data-row="<%= row %>"class="<%= square_color(row, column) %> tile">
        <% @pieces.each do |piece| %>
        <% if piece.x_position == column && piece.y_position == row %>
        <% if piece.player_id == @game.white_player_id %>
        <div class="piece white-piece" data-update-url="<%=game_piece_path(piece.game, piece) %>">
          <% else %>
          <div class="piece black-piece" data-update-url="<%=game_piece_path(piece.game, piece) %>">
            <% end %>
            <%= piece.unicode_symbol.html_safe %>
          </div>
          <% end %>
          <% end %>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="black-player">Black Player's Time Left:<div id="black-player-timer"><%= render partial: 'layouts/blacktimer', locals: {:black_player_timer => @black_player_timer}%></div></div>
  </div>
  