<!DOCTYPE html>
<html>
<head>
  <title>Chess</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,700" rel="stylesheet"/>
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "UP ALL KNIGHT", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if player_signed_in? %>
          <li>
            <%= link_to games_path do %>
              <i class="glyphicon glyphicon-user"></i>
              <%= current_player.email %>
            <% end %>
          </li>
          <li><%= link_to 'Sign out', destroy_player_session_path, method: :destroy, class: "navbar--link" %></li>
            <% else %>
          <li><%= link_to 'Sign in', new_player_session_path, class: "navbar--link" %></li> 
          <li><%= link_to 'Create an account', new_player_registration_path, class: "navbar--link navbar--highlight" %></li> 
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  
  <%= yield %>

  <footer class="footer">
      <div class="container">
      <ul class="nav navbar-nav navbar-right">
      <li><a href="#" class="footer--link">About this app</a></li>
      <li><a href="#" class="footer--link">Check out Github</a></li>
      </ul>
      </div>
  </footer>

  <!--

  <div class="footer">
    <p class="footer-text pull-left">
    <ul class="nav navbar-nav navbar-right">
      <li>About this app</li>
      <a class="socicon-twitter" id="twitter" href="https://twitter.com/gonsanchezs">
      <li><a href="#"><i class="socicon-twitter"></i>Check out Github</a></li>
    </ul>
  </div>

  -->
  
</body>
</html>
 