<!DOCTYPE html>
<html>
<head>
  <title>Chess</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700" rel="stylesheet"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <%= link_to 'Sign In', new_player_session_path  %>
  <%= link_to 'Sign out', destroy_player_session_path, method: :delete %>
  
  <%= yield %>
  
<script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDcZeyaMD_zB8BKh8P1ciNhNwrPaFW9lqw",
    authDomain: "up-all-knight.firebaseapp.com",
    databaseURL: "https://up-all-knight.firebaseio.com",
    storageBucket: "up-all-knight.appspot.com",
    messagingSenderId: "158824032365"
  };
  firebase.initializeApp(config);
</script>
</body>
</html>
 
