<!DOCTYPE html>
<html>
<head>
  <title>Chess</title>
  <script src="https://js.pusher.com/3.2/pusher.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700" rel="stylesheet"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <%= link_to 'Sign In', new_player_session_path  %>
  <%= link_to 'Sign out', destroy_player_session_path, method: :delete %>
  
  <!-- Message From Pusher -->
  <p id="message" class="alert alert-info"></p>

  <%= yield %>

</body>
</html>
 
